@import "tailwindcss";

:root {
  --background: #f3f1e0;
  --foreground: #6d3252;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-archivo: var(--font-archivo-black);
  --font-questrial: var(--font-questrial);
}

@theme {
  --breakpoint-xs: 30rem;
  --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 120rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f3f1e0;
    --foreground: #6d3252;
  }
}

body {
  background: var(--background);
  background-image: url("../assets/background.png");
  color: var(--foreground);
  font-family: Archivo-Black, Questrial, sans-serif;
}

h1,
h2,
h3 {
  font-family: var(--font-archivo-black), sans-serif;
  font-weight: 400;
}

p {
  font-family: var(--font-questrial), sans-serif;
}


@import 'aos/dist/aos.css';